<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeo.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Common_basic_practice_sound.Final_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_basic_practice_sound.Initial_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_menu.Menu_alphabet"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Final_consonant"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Initial_Consonant"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_number"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Sentence_marks"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_menu_sound.Menu_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_menu.Menu_Tutorial"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Vowel"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_basic_practice_sound.Num_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_sound.Number"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_basic_practice_sound.Sentence_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_sound.slied"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_basic_practice_sound.Vowel_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_Display_Practice.Braille_short_practice"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_basic_practice_sound.alphabet_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_menu.Menu_basic_practice"
            android:label=" "
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_master_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_menu_sound.Menu_main_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_basic_practice_sound.abbreviation_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Normal_version_menu.Menu_detail_contents"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_menu.Menu_abbreviation"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_letter"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_word"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_Display_Practice.Braille_long_practice"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_master_practice_sound.Letter_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_master_practice_sound.Word_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_menu_sound.Menu_master_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_menu.Menu_quiz_initial"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_vowel"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_final"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_number"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_alphabet"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_sentence"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_abbreviation"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_letter"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_word"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_Display_Practice.reading_short_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_Display_Practice.reading_long_practice"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_quiz_sound.quiz_initial_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.quiz_vowel_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.quiz_final_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.quiz_number_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.quiz_alphabet_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_menu_sound.quiz_menu_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.quiz_sentence_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.quiz_abbreviation_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_tutorial.Tutorial"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Normal_version_tutorial.Tutorial_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_tutorial.Tutorial_tutorial"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_master_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_quiz"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_init"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_vowel"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_final"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_number"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_english"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_sentence"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_basic_abbreviation"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_dot_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_tutorial.Tutorial_dot_lecture"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".Common_quiz_sound.quiz_service"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Common_quiz_sound.score_service"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Normal_version_quiz.quiz_reading_manual"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_quiz.quiz_score"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote_basic"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_Mynote_master"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_reading"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_menu.Menu_quiz_writing"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_quiz.quiz_writing_manual"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_Display_Practice.writing_short_practice2"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_Display_Practice.writing_short_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Normal_version_Display_Practice.writing_long_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_tutorial"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_basic_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Mynote"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_master_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Initial_Consonant"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_letter"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_initial"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Mynote_basic"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Vowel"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Final_consonant"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_number"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_alphabet"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Sentence_marks"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_abbreviation"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_word"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_vowel"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_final"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_number"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_alphabet"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_sentence"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_abbreviation"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_letter"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_word"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_reading"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_quiz_writing"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_menu.Talk_Menu_Mynote_master"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_Display_Practice.Talk_Braille_short_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_Display_Practice.Talk_Braille_long_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_Display_Practice.Talk_reading_short_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_Display_Practice.Talk_reading_long_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_Display_Practice.Talk_writing_long_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_Display_Practice.Talk_writing_short_practice"
            android:label=""
            android:screenOrientation="landscape" />
        <activity
            android:name=".Talkback_version_quiz.Talk_quiz_writing_manual"
            android:label=""
            android:screenOrientation="landscape" />
        <activity android:name=".Talkback_version_quiz.Talk_quiz_reading_manual"
            android:label=""
            android:screenOrientation="landscape"/>
    </application>

</manifest>